@namespace BootstrapBlazor.Components


@if (ShowUI)
{
    <div @ref="Element">

        <div data-action="mindMapContainer" class="mindMapDiv"></div>
        @*<br>
        <button data-action="butConnect" type="button">@ExportBtnTitle</button>*@

    </div>
}

 